@model IEnumerable<ParentsRules.Models.Chroes.UserChores>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Chore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DollarAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDaily)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsWeekly)
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Chore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DollarAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDaily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWeekly)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
