@model ParentsRules.Models.ManageViewModels.FriendsRequestViewModel
@{
    ViewData["Title"] = "Active Administrator Request";

}
<h2>Active Administrator Requests</h2>

<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
<div class="container">
    <div class="row">
        <div class="col-sm-3"><a asp-action="Create">Request to add an Administrator</a></div>
        <div class="col-sm-3"><a asp-action="Children">View Children</a></div>
        <div class="col-sm-3"><a asp-action="Index">View Administrators</a></div>
        <div class="col-sm-3"><a asp-controller="Dashboard" asp-action="Index">Return to Dashboard</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive-sm">        
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Friends Since</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewData["FriendRequests"] != null)
                {
                    IEnumerable<FriendsRequestViewModel> friendRequests = ViewData["FriendRequests"] as IEnumerable<FriendsRequestViewModel>;
                    foreach (var friendRequest in friendRequests)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => friendRequest.FirstName)&nbsp;
                                @Html.DisplayFor(modelItem => friendRequest.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => friendRequest.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => friendRequest.DateRequested)
                            </td>
                            <td><a asp-action="Delete" asp-route-id="@friendRequest.ID">Delete Administrator Request</a></td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

